.fly-button {
	padding: 10px;
	border: 1px solid #000;
	background: pink;
	outline: none;
	font-size: 20px;
	line-height: 2;
	color: #000;
	border-radius: 50%;
	width: 50px;
	height: 50px;
	padding: 0;
	display: inline-block;
	text-align: center;
	position: fixed;
	right: 15px;
	bottom: 20%;
	cursor: pointer;
}

.fly-button-menu {
	display: none;
	border: 1px solid #000;
	background: yellow;
	margin: 0;
	padding: 5px;
	width: 100%;
	max-width: 500px;
}

.fly-button-menu.open {
	display: block;
}

li {
	padding: 10px;
	list-style-type: none;
}

li + li {
	border-top: 1px solid #000;
}
